/* result */

.result {
  padding-top: var(--large-indent);
  padding-bottom: var(--large-indent);
  background-color: #ebebeb;
  .cards__list {
    margin-bottom: var(--large-indent);
    gap: var(--regular-indent);
    .result__card {
      padding-top: var(--small-indent);
      display: grid;
      gap: var(--regular-indent);
      grid-template-columns: 160px auto;
      border-top: 1px solid #c0c0c0;
      @extend %font-description-under;

      h1 {
        font-weight: 500;
        color: var(--title-regular);
      }
      span {
        color: var(--description-regular);
      }
    }
  }
  .demo {
    display: flex;
    gap: var(--regular-indent);

    .demo__description {
      h1 {
        margin-bottom: var(--small-indent);
        font-size: 40px;
        font-weight: 400;
        line-height: 100%;
        color: var(--title-regular);
      }
      p {
        @extend %font-description;
        color: var(--description-regular);
      }
    }
  }
}
