/* sketchbook */

.sketchbook {
  padding-top: var(--large-indent);

  @media screen and (max-width: 1024px) {
    padding-top: 60px;
  }
  .sketchbook__content {
    display: grid;
    grid-template-columns: auto 730px;
    gap: var(--regular-indent);

    @media screen and (max-width: 1200px) {
      grid-template-columns: auto auto;
    }
    @media screen and (max-width: 768px) {
      grid-template-rows: auto auto;
      grid-template-columns: auto;
      .sketchbook__image {
        grid-row: 1 / 2;
        img {
          width: 100%;
        }
      }
    }

    .sketchbook__image {
      img {
        height: 100%;
      }
    }

    .sketchbook__description {
      h1 {
        font-size: 40px;
        font-weight: 400;
        line-height: 100%;
        color: var(--title-regular);
      }
      p {
        margin-top: var(--smallest-indent);
        margin-bottom: var(--regular-indent);
        color: var(--description-regular);
        @extend %font-description;
      }
      button {
        padding: 22px 94px;
        border: 1px solid var(--dark-imperial-blue-color);
        font-size: 20px;
        line-height: 23px;
        color: var(--dark-imperial-blue-color);
        background-color: transparent;
        cursor: pointer;
        transition: background ease-in-out 0.2s, color ease-in-out 0.2s;

        &:hover {
          color: #fff;
          background-color: #7875fe;
        }
        &:active {
          color: #fff;
          background-color: #4946b4;
        }
        &:focus-visible {
          outline: none;
          color: var(--dark-imperial-blue-color);
          background-color: #dad9fb;
        }
        @media screen and (max-width: 768px) {
          padding: 20px 50px;
        }
      }
    }
  }
}
