@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
:root {
  --smallest-indent: 8px;
  --small-indent: 20px;
  --regular-indent: 30px;
  --medium-indent: 60px;
  --large-indent: 90px;
  --title-regular: #666;
  --description-regular: #85859b;
  --dark-imperial-blue-color: #7875fe;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.sketchbook .sketchbook__content .sketchbook__description p, .products .product__card .product__description p, .result .demo .demo__description p {
  font-size: 18px;
  line-height: 170%;
}

.result .cards__list .result__card, .hero .hero__description p {
  font-size: 18px;
  line-height: 150%;
}

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.container {
  width: min(90vw, 1100px);
  margin-left: auto;
  margin-right: auto;
}

.flex {
  display: flex;
  align-items: center;
}

.hidden {
  display: none;
}

/* header */
.header {
  height: 80px;
  border-bottom: 1px solid #ddd;
  font-size: 20px;
  line-height: 23px;
}
@media screen and (max-width: 1024px) {
  .header .container {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
  }
  .header .container .header__btns {
    justify-self: flex-end;
  }
  .header .container .nav {
    margin-right: 0px;
    grid-row: 2/3;
    grid-column: 1/3;
  }
  .header .container .nav ol {
    width: 100%;
    justify-content: space-between;
  }
}
@media screen and (max-width: 1024px) and (max-width: 768px) {
  .header .container .nav ol {
    flex-wrap: wrap;
    gap: 0px;
  }
}
@media screen and (max-width: 1024px) and (max-width: 320px) {
  .header .container {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
  }
  .header .container .header__btns {
    margin-top: 10px;
  }
}

.logo {
  margin-right: auto;
  display: flex;
  gap: 5px;
}
.logo .circle {
  width: 17px;
  height: 17px;
  border: 1px solid #333333;
  border-radius: 50%;
}
.logo .oval {
  width: 32px;
  height: 17px;
  border: 1px solid #333333;
  border-radius: 11px;
}

.nav {
  margin-right: 65px;
}

.nav__list {
  margin: 0;
  list-style: none;
  gap: var(--medium-indent);
  text-wrap: nowrap;
}
.nav__list a {
  color: #4c5866;
}
.nav__list .nav__item:hover > a {
  color: var(--dark-imperial-blue-color);
  cursor: pointer;
  transition: color ease-in-out 150ms;
}
.nav__list .nav__item > a:active {
  color: #4946b4;
}
.nav__list .nav__item > a:focus-visible {
  outline: none;
  background-color: #dad9fb;
  box-shadow: 0 0 0 4px #dad9fb;
}

.header__btns {
  display: flex;
}
.header__btns .btn__login {
  margin-left: 30px;
}
.header__btns .btn__search,
.header__btns .btn__login {
  border: none;
  background: none;
  cursor: pointer;
}
.header__btns .btn__search:hover g [stroke],
.header__btns .btn__login:hover g [stroke] {
  stroke: #4946b4;
  transition: stroke ease-in-out 0.3s;
}
.header__btns .btn__search:active g [stroke],
.header__btns .btn__login:active g [stroke] {
  stroke: #c2c2c2;
  transition: none;
}
.header__btns .btn__search:focus-visible,
.header__btns .btn__login:focus-visible {
  outline: none;
  background-color: #dad9fb;
}
.header__btns .searchForm {
  position: relative;
}
.header__btns .searchForm input {
  width: min(100%, 225px);
  margin-left: 10px;
  border: none;
  outline: none;
  border-bottom: 1px solid #d1d1e6;
  font-size: 20px;
  line-height: 23px;
}
.header__btns .searchForm button {
  width: 16px;
  height: 16px;
  position: absolute;
  top: 3px;
  right: 0;
  border: none;
  outline: none;
  background-color: #fff;
  cursor: pointer;
}
.header__btns .searchForm button:hover circle {
  fill: var(--dark-imperial-blue-color);
}
.header__btns .searchForm button:hover path {
  stroke: #fff;
}
.header__btns .searchForm button:focus-visible circle {
  fill: #dad9fb;
}
.header__btns .searchForm button:active circle {
  fill: #4946b4;
}

/* hero */
.hero .hero__content {
  max-height: 560px;
  margin-top: var(--medium-indent);
  overflow: hidden;
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 445px auto;
  gap: 125px;
  align-items: center;
}
@media screen and (max-width: 1024px) {
  .hero .hero__content {
    max-height: 416px;
    margin-top: 20px;
    grid-template-columns: 1fr 1fr;
    gap: var(--regular-indent);
  }
}
@media screen and (max-width: 768px) {
  .hero .hero__content {
    max-height: 700px;
    align-items: self-start;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }
  .hero .hero__content .hero__image {
    display: flex;
    justify-content: flex-end;
  }
}
@media screen and (max-width: 768px) and (max-width: 320px) {
  .hero .hero__content .hero__image {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .hero .hero__content .hero__image img {
    max-width: 50%;
  }
}
.hero .hero__description h1 {
  color: #4c5866;
  font-size: 60px;
  font-weight: 400;
  line-height: 100%;
}
@media screen and (max-width: 1200px) {
  .hero .hero__description h1 {
    font-size: 50px;
  }
}
.hero .hero__description p {
  padding-top: var(--regular-indent);
  padding-bottom: var(--regular-indent);
  color: var(--description-regular);
}
.hero .hero__description button {
  padding: var(--small-indent) var(--large-indent);
  border: 1px solid var(--dark-imperial-blue-color);
  font-size: 20px;
  line-height: 23px;
  color: var(--dark-imperial-blue-color);
  background-color: transparent;
  cursor: pointer;
  transition: background ease-in-out 0.2s, color ease-in-out 0.2s;
}
.hero .hero__description button:hover {
  color: #fff;
  background-color: #7875fe;
}
.hero .hero__description button:active {
  color: #fff;
  background-color: #4946b4;
}
.hero .hero__description button:focus-visible {
  outline: none;
  color: var(--dark-imperial-blue-color);
  background-color: #dad9fb;
}
@media screen and (max-width: 768px) {
  .hero .hero__description button {
    padding: 20px 50px;
  }
}
.hero .hero__image {
  align-self: flex-start;
}
.hero .hero__image img {
  max-width: 100%;
}

/* result */
.result {
  padding-top: var(--large-indent);
  padding-bottom: var(--large-indent);
  background-color: #ebebeb;
}
@media screen and (max-width: 1024px) {
  .result {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
.result .cards__list {
  margin-bottom: var(--large-indent);
  justify-content: space-between;
  gap: var(--regular-indent);
}
@media screen and (max-width: 576px) {
  .result .cards__list {
    flex-direction: column;
  }
}
.result .cards__list .result__card {
  padding-top: var(--small-indent);
  display: grid;
  align-items: center;
  gap: var(--regular-indent);
  grid-template-columns: 160px auto;
  border-top: 1px solid #c0c0c0;
}
@media screen and (max-width: 1024px) {
  .result .cards__list .result__card {
    grid-template-rows: auto auto auto;
    grid-template-columns: auto;
    gap: 0px;
  }
}
@media screen and (max-width: 576px) {
  .result .cards__list .result__card {
    grid-template-rows: auto;
    grid-template-columns: 160px auto;
    gap: var(--regular-indent);
  }
}
@media screen and (max-width: 320px) {
  .result .cards__list .result__card {
    gap: 0;
  }
}
.result .cards__list .result__card h1 {
  font-weight: 500;
  color: var(--title-regular);
}
.result .cards__list .result__card span {
  color: var(--description-regular);
}
.result .demo {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: var(--regular-indent);
}
@media screen and (max-width: 768px) {
  .result .demo {
    grid-template-columns: auto auto;
    grid-template-columns: auto;
  }
}
.result .demo .demo__image {
  align-self: self-start;
}
@media screen and (max-width: 1200px) {
  .result .demo .demo__image img {
    max-width: 100%;
  }
}
.result .demo .demo__description h1 {
  margin-bottom: var(--small-indent);
  font-size: 30px;
  font-weight: 400;
  line-height: 100%;
  color: var(--title-regular);
}
@media screen and (max-width: 768px) {
  .result .demo .demo__description h1 {
    font-size: 24px;
  }
}
.result .demo .demo__description p {
  margin-bottom: 15px;
  color: var(--description-regular);
}

/* products */
.products {
  padding-top: var(--large-indent);
  padding-bottom: var(--large-indent);
}
@media screen and (max-width: 1024px) {
  .products {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
.products .products__list {
  list-style: none;
  gap: 22px;
}
@media screen and (max-width: 1200px) {
  .products .products__list {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
    justify-content: center;
    gap: var(--regular-indent);
  }
}
@media screen and (max-width: 768px) {
  .products .products__list {
    display: flex;
    justify-content: flex-start;
    gap: 22px;
  }
}
.products .product__card {
  width: min-content;
}
.products .product__card .product__description h1 {
  margin-top: var(--small-indent);
  margin-bottom: var(--smallest-indent);
  font-size: 30px;
  font-weight: 400;
  line-height: 35px;
  color: var(--title-regular);
}
.products .product__card .product__description span {
  font-size: 14px;
  line-height: 16px;
  color: #b5b5bd;
}
.products .product__card .product__description p {
  margin-top: var(--smallest-indent);
  margin-bottom: var(--small-indent);
  color: var(--description-regular);
}
.products .product__card .product__description a {
  font-size: 20px;
  line-height: 23px;
  color: var(--dark-imperial-blue-color);
  transition: color ease-in-out 0.2s;
}
.products .product__card .product__description a::after {
  content: url("../assets/arros_icon.png");
  margin-left: 5px;
}
.products .product__card .product__description a:hover {
  color: #4946b4;
}
.products .product__card .product__description a:focus-visible {
  outline: none;
  background-color: #dad9fb;
}

/* partners */
.partners {
  padding-top: var(--large-indent);
  padding-bottom: var(--large-indent);
  background-color: #ebebeb;
}
@media screen and (max-width: 1024px) {
  .partners {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
.partners .partners__list {
  list-style: none;
  gap: var(--regular-indent);
}
@media screen and (max-width: 768px) {
  .partners .partners__list {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
  }
}
@media screen and (max-width: 320px) {
  .partners .partners__list {
    display: flex;
    flex-direction: column;
    gap: 0;
  }
}
.partners .partners__list img {
  width: 100%;
}

/* sketchbook */
.sketchbook {
  padding-top: var(--large-indent);
}
@media screen and (max-width: 1024px) {
  .sketchbook {
    padding-top: 60px;
  }
}
.sketchbook .sketchbook__content {
  display: grid;
  grid-template-columns: auto 730px;
  gap: var(--regular-indent);
}
@media screen and (max-width: 1200px) {
  .sketchbook .sketchbook__content {
    grid-template-columns: auto auto;
  }
}
@media screen and (max-width: 768px) {
  .sketchbook .sketchbook__content {
    grid-template-rows: auto auto;
    grid-template-columns: auto;
  }
  .sketchbook .sketchbook__content .sketchbook__image {
    grid-row: 1/2;
  }
  .sketchbook .sketchbook__content .sketchbook__image img {
    width: 100%;
  }
}
.sketchbook .sketchbook__content .sketchbook__image img {
  height: 100%;
}
.sketchbook .sketchbook__content .sketchbook__description h1 {
  font-size: 40px;
  font-weight: 400;
  line-height: 100%;
  color: var(--title-regular);
}
.sketchbook .sketchbook__content .sketchbook__description p {
  margin-top: var(--smallest-indent);
  margin-bottom: var(--regular-indent);
  color: var(--description-regular);
}
.sketchbook .sketchbook__content .sketchbook__description button {
  padding: 22px 94px;
  border: 1px solid var(--dark-imperial-blue-color);
  font-size: 20px;
  line-height: 23px;
  color: var(--dark-imperial-blue-color);
  background-color: transparent;
  cursor: pointer;
  transition: background ease-in-out 0.2s, color ease-in-out 0.2s;
}
.sketchbook .sketchbook__content .sketchbook__description button:hover {
  color: #fff;
  background-color: #7875fe;
}
.sketchbook .sketchbook__content .sketchbook__description button:active {
  color: #fff;
  background-color: #4946b4;
}
.sketchbook .sketchbook__content .sketchbook__description button:focus-visible {
  outline: none;
  color: var(--dark-imperial-blue-color);
  background-color: #dad9fb;
}
@media screen and (max-width: 768px) {
  .sketchbook .sketchbook__content .sketchbook__description button {
    padding: 20px 50px;
  }
}

footer {
  background-color: #4c5866;
}
footer .container {
  padding-top: 28px;
  padding-bottom: 28px;
}
footer .socialNetwork__list {
  list-style: none;
  gap: var(--regular-indent);
}
footer .footer__copy {
  text-align: center;
  background-color: #fff;
}

.products_swiper {
  overflow: hidden;
}

/*# sourceMappingURL=style.css.map */
